Kuro
qtws_*
whatsapp*
Kvantum
Thunar
arcolinux-welcome-app
autostart
conky
Trolltech.conf
user-dirs.locale
yad.conf
dconf
fontconfig
galculator
gconf
gtk-3.0
htop
nano
neofetch
nitrogen
nomacs
paru
pulse
qt5ct
rofi
termite
variety
volumeicon
xfce4
yay
hardinfo
Electron
Code - OSS
matplotlib
Microsoft
Microsoft Teams - Preview
teams
cat_installer
flameshot
discord
gtk-2.0
Code
GIMP
Pinta
StarUML
cef_user_data
pamac
VirtualBox
obs-studio
ristretto
vlc
chromium
wal
wireshark
nextjs-nodejs
user-dirs.dirs
jgit
create-next-app-nodejs
yuzu
kdeglobals
kconf_updaterc
archlinux-logout
okularpartrc
okularrc
QtProject.conf
mimeapps.list
pavucontrol.ini
GitHub Desktop/
Google/
Webcamoid/
akregatorrc
archlinux-betterlockscreen/
autorandr/
balena-etcher/
baloofileinformationrc
baloofilerc
clangd.bak/
dolphinrc
emaildefaults
fish/.clangd
github-copilot/
gtkrc
gtkrc-2.0
inkscape/
kactivitymanagerd-statsrc
kactivitymanagerdrc
kateschemarc
kcminputrc
kde.org/
kded5rc
kdedefaults/
kfontinstuirc
kglobalshortcutsrc
kitty/
klanguageoverridesrc
knfsshare
krunnerrc
kscreenlockerrc
ksmserverrc
ktimezonedrc
kwinrc
kwinrulesrc
kxkbrc
libaccounts-glib/
microsoftwhiteboard-nativefier-27b583/
plasma-localerc
plasma-org.kde.plasma.desktop-appletsrc
plasmarc
plasmashellrc
powermanagementprofilesrc
ranger/
scripts/
session/
slop/
systemsettingsrc
trashrc
tmux/plugins
alacritty/catppuccin
go/
obsidian/
plasma.emojierrc
rustfmt/
smplayer/
weylus/
btop/

SpeedCrunch
archlinux-tweak-tool
awesome.old
fastfetch
fish
filetypesrc
